# Dependencies
node_modules
.pnpm-store

# Environment
.env
.env.local
.env.*.local

# Build output
dist
build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# IDE and editor files
.idea
.vscode
*.swp
*.swo
.DS_Store

# Testing
coverage

# Vercel
.vercel

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache